@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Prosto+One&family=Roboto+Condensed:wght@300&display=swap');

@font-face {
    font-family: 'EditorialNew-Italic';
    src: url(../tipografias/PPEditorialNew-Italic.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EditorialNew-Regular';
    src: url(../tipografias/PPEditorialNew-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EditorialNew-Ultrabold';
    src: url(../tipografias/PPEditorialNew-Ultrabold.otf) format('opentype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'EditorialNew-UltraboldItalic';
    src: url(../tipografias/PPEditorialNew-UltraboldItalic.otf) format('opentype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'EditorialNew-UltraLightItalic';
    src: url(../tipografias/PPEditorialNew-UltralightItalic.otf) format('opentype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'EditorialNew-UltraLight';
    src: url(../tipografias/PPEditorialNew-Ultralight.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sloop1';
    src: url(../tipografias/Sloop.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sloop2';
    src: url(../tipografias/sloopscript2.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorFondo: black;
    --colorClaro: white;
    --tipoTitulos: 'EditorialNew-UltraLightItalic';
    --tipoGeneral: 'EditorialNew-UltraLight';
    --tipoFancy1: 'Sloop1';
    --tipoFancy2: 'Sloop2';
    --color1: #03045E;
    --color2: #0077B6;
    --color3: #CAF0F8;
    --color4: #995FA3;
    --color5: #A4243B;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tipoGeneral);
    scroll-behavior: smooth;
    background-color: var(--colorFondo) !important;
}

header {
    width: 100%;
    position: sticky;
    top: calc(-100vh + 5em);
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


/* HEADER CARROUSEL*/
/* .slideshow {
    position: relative;
    top: -10px;

    overflow: hidden;
    width: 100vw;
    height: 90vh;
    z-index: -2;
    opacity: 0.8;
}

.holder {
    position: relative;
    top: 0;
    left: 0;
    width: 10000vw;
    height: 100vh;
    transition: left 1s;
}

.holder div {
    float: left;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 30px;
}

.slide-1 {
    background-image: url(../img/);
}

.slide-2 {
    background-image: url(../img/);
}

.slide-3 {
    background-image: url(../img/);
}

.slide-4 {
    background-image: url(../img/);
}

.slide-5 {
    background-image: url(../img/);
} */


/* MENU */
#envio>div{
    background-color: #fff !important;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 4em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    align-items: center;
}
#envio>div>p{
    color: black;
    font-family: var(--tipoGeneral);
    background-color: transparent !important;
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dropdown{
   z-index: 11;
    background-color: white !important;
}
.dropdown>button{
    color: black !important;
     background-color: white !important;
 }
.dropdown-menu{
    background-color: white !important;
   
}
.dropdown-item{
    background-color: white !important;
    color: black !important;
}

#logo {
    width: 144.63px;
    height: 75.58px;
    left: calc(50% - 177.63px/2 - 2.19px);
    top: 113px;
    background: url(../img/Frame_5.jpg);
    background-repeat: no-repeat;
}

#menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: transparent;
}

#menu>ul {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 1em 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    transition-duration: 1s;
    display: flex;
}

#menu>ul>li {
    list-style: none;
    color: var(--colorClaro);
  
    font-size: 1em;
    background-color: transparent;
}

a {
    text-decoration: none !important;
    background-color: transparent;
    color: var(--colorClaro)  !important;
}

#menu>ul>li>a:hover {
    font-family: 'EditorialNew-Italic' ;
}
#menu>ul>li>a>i:hover {
    scale: 120%;
}

.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    color: black;
    display: none;
}

.hamburger span {
    position: absolute;
    top: 25px;
    left: 0px;
    display: block;
    width: 35px;
    height: 5px;
    background: transparent !important;
    transition: all 0.4s;
}

.hamburger span:before,
.hamburger span:after {
    content: '';
    display: block;
    height: 5px;
    left: 0;
    background: inherit;
    position: absolute;
    transition: all 0.4s;
    -webkit-animation: gradientbgAnim 49s ease infinite;
    -moz-animation: gradientbgAnim 49s ease infinite;
    -o-animation: gradientbgAnim 49s ease infinite;
    animation: gradientbgAnim 49s ease infinite;
}

.hamburger span:before {
    top: -15px;
    width: 15px;
}

.hamburger span:after {
    bottom: -15px;
    width: 50px;
}

.hamburger:hover span {
    width: 50px;
}

.hamburger:hover span:before {
    width: 50px;
}

.hamburger:hover span:after {
    width: 50px;
}

.hamburger {
    transform: translate(0, -50%);
}

.hamburger.close span {
    width: 0px;
}

.hamburger.close span:before {
    top: 0;
    width: 50px;
    transform: rotate(45deg);
}

.hamburger.close span:after {
    bottom: 0;
    width: 50px;
    transform: rotate(-45deg);
}

/* SECTIONS */
section {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 3em 0;
}

section>h1 {
    text-align: center;
    color: var(--colorClaro);
    font-size: 3em;
    padding: 2em;
    font-family: var(--tipoTitulos);
}

section>p {
    text-align: justify;
    margin: 1em;
    font-family: var(--tipoGeneral);
    color: var(--colorClaro);
}


/* INTRO */
#intro>div>h1{
    font-family: var(--tipoFancy2);
    color: white;
    font-size: 4em;
}
#intro>div>p{
    font-family: var(--tipoGeneral);
    color: white;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#intro>div{
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* FOOTER */
#contacto {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    width: 100%;

}

#contacto>.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em 2em;
    background-color: transparent;
}

#contacto>p {
    text-align: center;
    background-color: transparent;
}

#contacto>p>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
}

#contacto>p>a:hover {
    color: var(--color4);
}

#contacto>.footer>div>h3 {
    margin-bottom: 2em;
    color: white;
    font-size: x-large;
    background-color: transparent;
}

#contacto>.footer>div>p {
    margin-bottom: 1em;
    background-color: transparent;
}

#contacto>.footer>div>p>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
}

#contacto>.footer>div>p>a:hover {
    color: var(--color4);
}

.footer>div {
    border-left: 1px solid white;
    padding: 0 1.6em;
    background-color: transparent;

}

.social {
    background-color: transparent;
    list-style: none;
    padding: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10em;
    justify-content: space-around;
}

.social>li {
    color: white;
    background-color: transparent;
}

.social>li>a>i {
    color: white;
    background-color: transparent;
}

.social>li>a>i:hover {
    color: var(--color4);

}


/* COLECCIÓN HELENE */

#intro_elene{  
    height: 100vh;
    position: sticky;
    top: calc(-100vh - 5em);
    z-index: 1;
    background-image: url(../img/portada\ elene.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro_elene > h1 {
    font-family: var(--tipoFancy2);
    color: white;
    font-size: 11em;
    background-color: transparent!important;
}

#menu_coleccion{
    height: 3em;
    width: 100%;
    padding: 0 2em;
    list-style: none;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: white;
    color: var(--colorClaro);
    font-style: italic;
    font-size: 1em;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#menu_coleccion > ul > li:hover{
    font-weight: bold;
}

#menu_coleccion > ul {
    display:flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#menu_coleccion > li {
    opacity: 70%;
}

#menu_coleccion > ul > li {
    padding-right:2em;
    list-style: none;
}

#galeria_elene{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.apartados_galeria{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10em;
    color: var(--colorClaro);
}

.apartados_galeria > h1 {
    font-size: 5em;
    font-style: italic;
    background-color: transparent!important;
}

.apartados_galeria > p {
    font-size: 1.5em;
    font-style: italic;
    background-color: transparent!important;
}

.container{
    padding: 0 4em!important;
    max-width: 100%!important;
}

#producto_elene{
    height: 30em;
    border: 0.5px solid;
    border-radius: 50%;
    border-color: white;
    color: var(--colorClaro);
    margin: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#producto_elene:hover{
    opacity: 70%;

}

#producto_elene > div{
    margin-top: 1.4em;
}

#producto_elene > div > img{
    width: 100%;
}

#producto_elene > h2{
    margin: 0.5em;
    margin-bottom: 0;
    font-style: italic;
}

#producto_elene > p{
    margin: 0;
    margin-top: 0.1em;
}


/* lista de compras */


#botonCarrito {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    border: 0.5px solid;
    width: 15em;
    height: 2em;
}

#botonCarrito:hover {
    opacity: 70%;
}


#listaCarrito {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -110%;
    height: 100%;
    width: 40%;
    padding-left: 2em;
    border: 0.5px solid;
    background-color: #000000e8!important;
    padding-top: 60px;
    transition: right 0.3s ease;
    color: var(--colorClaro);
    overflow-y: auto;
}

#listaCarrito > button{
    padding-left: 85%;
    font-size: 1.5em;
    background-color: transparent!important;
    border: none;
    outline: none;
    color: var(--colorClaro);
}

#listaCarrito > button:hover{
    opacity: 70%;    
}

#listaCarrito > h2{
    background-color: transparent!important;
    font-size: 2em;
    margin-bottom: 0;
    font-style: italic;
}

#listaCarrito > p{
    background-color: transparent!important;
    font-size: 1em;
    opacity: 70%;
    font-style: italic;
}

#listaCarrito > a{
    border: 1px solid;
    border-radius: 50%;
    width: 5em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

#listaCarrito > a:hover{
    opacity: 70%;
}

/* Producto carrito */

.producto_carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid;
    padding-top: 1em;
    margin-top: 2em;
}

.foto_productoCarrito{
    width: 17%;
    margin-right: 2em;
}

.foto_productoCarrito > img{
    width: 100%;
    height: auto;
    background-color: transparent!important;
    border: 0.5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(249, 249, 249, 0.3);
}

.datos_productoCarrito > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent!important;
}

.datos_productoCarrito > p{
    font-style: italic;
    font-size: medium;
}

.cantidad_producto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cantidad_producto > p{
    font-style: italic;
    font-size: medium;
}    

.cantidad_producto > button{
    border: none;
    outline: none;
    color: var(--colorClaro);
    height: 1em;
    margin: 0 2em;
}

.producto_carrito > button{
    border: none;
    outline: none;
    color: var(--colorClaro);
    background-color: transparent!important;
    padding-left: 1em;
    font-size: 1.5em;
}

.producto_carrito > button:hover{
    opacity: 70%;
}

  

.galeria {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .galeria img {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    cursor: pointer;
  }
  
  /* Estilos para la lista de compra */
  #lista-compra {
    margin-top: 20px;
  }
  
  #productos {
    list-style: none;
    padding: 0;
  }








/* MEDIAQUERIES */
@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 1000px) {

}





@media only screen and (max-width: 850px) {

    #listaCarrito{
        width: 100%;
    }

    .apartados_galeria > h1 {
        font-size: 4em;
    }

}

@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 400px) {

    .apartados_galeria > h1 {
        font-size: 3em;
    }

}