@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Prosto+One&family=Roboto+Condensed:wght@300&display=swap');

@font-face {
    font-family: 'EditorialNew-Italic';
    src: url(../tipografias/PPEditorialNew-Italic.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EditorialNew-Regular';
    src: url(../tipografias/PPEditorialNew-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EditorialNew-Ultrabold';
    src: url(../tipografias/PPEditorialNew-Ultrabold.otf) format('opentype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'EditorialNew-UltraboldItalic';
    src: url(../tipografias/PPEditorialNew-UltraboldItalic.otf) format('opentype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'EditorialNew-UltraLightItalic';
    src: url(../tipografias/PPEditorialNew-UltralightItalic.otf) format('opentype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'EditorialNew-UltraLight';
    src: url(../tipografias/PPEditorialNew-Ultralight.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sloop1';
    src: url(../tipografias/Sloop.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sloop2';
    src: url(../tipografias/sloopscript2.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorFondo: black;
    --colorClaro: white;
    --tipoTitulos: 'EditorialNew-UltraLightItalic';
    --tipoGeneral: 'EditorialNew-UltraLight';
    --tipoFancy1: 'Sloop1';
    --tipoFancy2: 'Sloop2';
    --color1: #03045E;
    --color2: #0077B6;
    --color3: #CAF0F8;
    --color4: #995FA3;
    --color5: #A4243B;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tipoGeneral);
    scroll-behavior: smooth;
    background-color: var(--colorFondo) !important;
}

header {
    width: 100vw;
    position: sticky;
    top: calc(-100vh + 5em);
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* POPUP */
#popUp{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 6em;
    border: 1px white solid;
    border-radius: 80%;
    width: 80vw;
    z-index: 20;
    box-shadow: rgba(255, 255, 255, 0.35) 10px 15px 15px;
}
#popUp>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
#popUp>div>a {
    position: absolute;
    top: 50%;
    right: 5%;
    font-family: var(--tipoGeneral);
    color: rgb(255, 255, 255);
}

#popUp>div>h2 {
    color: white;
    font-family: var(--tipoGeneral);
    font-size: 3em;
    text-align: center;
}

#popUp>div>form>div {
    height: 4em;

}

#popUp>div>form>div>input {
    width: 19em;
    height: 2em;
    border-radius: 2em;
    color: rgba(255, 255, 255, 0.815);
    padding: 0.2em 0.2em 0.2em 0.5em;
    border: 1px white solid;
}
#popUp>div>form>input {
   color: white;
    border-radius: 2em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 15%);
    padding: 0.5em;
    border: 1px white solid;
}

/* MENU */
#envio>div{
    background-color: #fff !important;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 4em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    align-items: center;
}
#envio>div>p{
    color: black;
    font-family: var(--tipoGeneral);
    background-color: transparent !important;
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dropdown{
   z-index: 11;
    background-color: white !important;
}
.dropdown>button{
    color: black !important;
     background-color: white !important;
 }
.dropdown-menu{
    background-color: white !important;
   
}
.dropdown-item{
    background-color: white !important;
    color: black !important;
}

#logo {
    width: 144.63px;
    height: 75.58px;
    left: calc(50% - 177.63px/2 - 2.19px);
    top: 113px;
    background: url(../img/Frame_5.jpg);
    background-repeat: no-repeat;
}

#menu {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: transparent;
}

#menu>ul {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100vw;
    z-index: 9;
    padding: 1em 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    transition-duration: 1s;
    display: flex;
}

#menu>ul>li {
    list-style: none;
    color: var(--colorClaro);
  
    font-size: 1em;
    background-color: transparent;
}

a {
    text-decoration: none !important;
    background-color: transparent;
    color: var(--colorClaro)  !important;
}

#menu>ul>li>a:hover {
    font-family: 'EditorialNew-Italic' ;
}
#menu>ul>li>a>i:hover {
    scale: 120%;
}

.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    color: black;
    display: none;
}

.hamburger span {
    position: absolute;
    top: 25px;
    left: 0px;
    display: block;
    width: 35px;
    height: 5px;
    background: transparent !important;
    transition: all 0.4s;
}

.hamburger span:before,
.hamburger span:after {
    content: '';
    display: block;
    height: 5px;
    left: 0;
    background: inherit;
    position: absolute;
    transition: all 0.4s;
    -webkit-animation: gradientbgAnim 49s ease infinite;
    -moz-animation: gradientbgAnim 49s ease infinite;
    -o-animation: gradientbgAnim 49s ease infinite;
    animation: gradientbgAnim 49s ease infinite;
}

.hamburger span:before {
    top: -15px;
    width: 15px;
}

.hamburger span:after {
    bottom: -15px;
    width: 50px;
}

.hamburger:hover span {
    width: 50px;
}

.hamburger:hover span:before {
    width: 50px;
}

.hamburger:hover span:after {
    width: 50px;
}

.hamburger {
    transform: translate(0, -50%);
}

.hamburger.close span {
    width: 0px;
}

.hamburger.close span:before {
    top: 0;
    width: 50px;
    transform: rotate(45deg);
}

.hamburger.close span:after {
    bottom: 0;
    width: 50px;
    transform: rotate(-45deg);
}
/* DUDAS */
#dudas{
    position: sticky;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}
#dudas>p{
    font-family: 'EditorialNew-UltraLightItalic' ;
    font-size: 0.8em;
    color: white;
    padding: 1em;
}
/* SECTIONS */
section {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 3em 0;
}

section>h1 {
    text-align: center;
    color: var(--colorClaro);
    font-size: 3em;
    padding: 2em;
    font-family: var(--tipoTitulos);
}

section>p {
    text-align: justify;
    margin: 1em;
    font-family: var(--tipoGeneral);
    color: var(--colorClaro);
}
/* INTRO */
#intro>div>h1{
    font-family: var(--tipoFancy2);
    color: white;
    font-size: 4em;
}
#intro>div>p{
    font-family: var(--tipoGeneral);
    color: white;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#intro>div{
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* FOOTER */
#contacto {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    width: 100%;

}

#contacto>.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em 2em;
    background-color: transparent;
}

#contacto>p {
    text-align: center;
    background-color: transparent;
}

#contacto>p>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
}

#contacto>p>a:hover {
    color: var(--color4);
}

#contacto>.footer>div>h3 {
    margin-bottom: 2em;
    color: white;
    font-size: x-large;
    background-color: transparent;
}

#contacto>.footer>div>p {
    margin-bottom: 1em;
    background-color: transparent;
}

#contacto>.footer>div>p>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
}

#contacto>.footer>div>p>a:hover {
    color: var(--color4);
}

.footer>div {
    border-left: 1px solid white;
    padding: 0 1.6em;
    background-color: transparent;

}

.social {
    background-color: transparent;
    list-style: none;
    padding: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10em;
    justify-content: space-around;
}

.social>li {
    color: white;
    background-color: transparent;
}

.social>li>a>i {
    color: white;
    background-color: transparent;
}

.social>li>a>i:hover {
    color: var(--color4);

}



/* MEDIAQUERIES */
@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 1000px) {

}





@media only screen and (max-width: 850px) {

}

@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 400px) {

}